.form-group{
    position: relative;
    .palceholder{
     position: absolute;
     top: 7px;
     left: 8px;
      color: #B1B1B1;
      display: none;
    }
    label{
     font-wight: normal;
      color: #B1B1B1;
    } 
    .star{
      color: red
    }
  }